.bleu {
    color: blue;
}

.bouton{
    height:150px;
    width:150x;
    font-size:20px;
}

.bouton1{
    height:150px;
    width:150x;
    font-size:20px;
}

.bouton2{
    height:150px;
    width:150x;
    font-size:20px;
}

.visible{
    visibility: visible;
    
}

.hidden{
    visibility: hidden;
    pointer-events:none;
}
 .cat {
    position: relative;
    left: 1900px;
    transform-origin:left;
}

